<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice 전송 결과</title>
    <style>
        .name{
            color: orange;
        }
        .color{
            color: red;
        }
    </style>
</head>
<body>
    <h1>결과 확인하기</h1>
   
    <h2><span class="name"><%=userInfo.name%></span>님 환영합니다!</h2>
    
    <ul>
        <li><p>성별 : <%=userInfo.sex%></p></li>
        <li><p>생년월일 : <%=userInfo.age[0]%> / <%=userInfo.age[1]%> / <%=userInfo.age[2]%></p></li>

        <li><p>관심사 : <%=userInfo.habit%>
        </li>
    </ul>

    </hr>
    <h2>다른 태그 작성해보기</h2>
    <p>좋아하는 색깔: <h3 class="color"><%=userInfo.color%></h3></p>
    <p>좋아하는 숫자: <h3><%=userInfo.number%></h3></p>
    <p>마지막 한마디 : <%=userInfo.last_text%></p>

    <a href="/">홈으로 이동하기</a>
    
    
</body>
</html>